*.pyc
*.egg-info
.idea/
build
target
pip-log.txt
MANIFEST
dist

.jshintrc
/static/.components/
/static/geoexplorer/
/static_root/

settings.py
local_settings.py
/static/geonode/junit.xml


*~
*.swp


