*.pyc
*.egg-info
.idea/
build
target
pip-log.txt
MANIFEST
dist

/geoserver/

.jshintrc
/static/.components/
/static/geoexplorer/
/static_root/

settings.py
local_settings.py
/upload/
/static/geonode/junit.xml
/geoserver/

*~
*.swp


